{include file="template/header.tpl" title="header"}
<div id="content" class="centrado">
    <span class="user">{$user}</span>
    <br>
    <img src="{$url}public/img/welcome.png"> 
    <br>
</div>
{include file="template/footer.tpl" title="footer"}