{include file="template/header.tpl" title="header"}
<div id="content">
    <div id="logo">
        <a href="{$url}{$lang}/products"><img id="logo" src="{$url}/public/img/shop.ico"></a>
    </div>
</div>
{include file="template/footer.tpl" title="footer"}