{include file="template/header.tpl" title="header"}
<div id="content">
    <h2 class="titulo">{$language->translate('start_login')}</h2>
    {$message}
   <form method="post" action="{$url}{$lang}/login/run">
                <label>{$language->translate('name')}</label>
                <input type="text" name="nombre"><br>
                <label>{$language->translate('password')}</label>
                <input type="password" name="password"><br>
                <label></label>
       <input class="botonEnviar" type="submit" value="{$language->translate('send')}">
            </form> 
</div>
{include file="template/footer.tpl" title="footer"}