{include file="template/header.tpl" title="header"}
<div id="content">
    <br>
    <h2>Alta de usuarios</h2>
    
    <form action="{$url}{$lang}/user/insert" method="post">
        <label>Nombre</label><input type="text" name="name"><br>
        <label>Password</label><input type="password" name="password"><br>
        
        <label></label><input type="submit" value="Enviar">
    </form>
    
</div>
{include file="template/footer.tpl" title="footer"}