body {
	background: silver;
	font: 14px 'trebuchet ms', arial, sans-serif;
        margin: auto;
        padding: 0.5em;
        width: 65em;
}

/** Structure */
#header {
	padding: 1em;
        height: auto;
        padding-bottom: 2em;
	background: #5da8ae;
	color: #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px solid   #2f8890;
}

#title {
    padding: 0.4em;
    font-size: 2em;
    text-align: center;
}

#content {
	background: #fff;
	padding: 2em;
}

#footer {
	background: #5da8ae;
	color: #000;
	padding: 1em;
	border-top: 4px solid #2f8890;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#logo{
   text-align: center;
}

/* Links */
#header a {
	color: #ccc;
	background: #2a7a81;
	padding: 6px 18px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}

#header a:hover {
	background: #68cad2;
}

/** Forms */
form {
	font: 100% verdana,arial,sans-serif;
    margin: 0 auto;
    width: 50%;
}

form label { 
	display: block;
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 9px 0 0;
	text-align: right; 
}

form input, form select {
	width: auto;
	margin: 5px 0 0 10px;
	border: 1px solid gray;
	padding: 4px;
}

form select{
       width: 160px;
}








pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ccc;
}
tr td{
    border-bottom: 1px solid #ddd;    
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #000;  
}

tr:nth-child(odd),tr:nth-child(odd) input{
    background-color: #f2f2f2;
}


th {
    background-color: #5da8ae;    
    color: white;
    text-align:center;
}

 
 
 input.cell{
     width: 100%;
     padding:0px;
     padding-top:16px;
     padding-bottom: 16px;
     text-align:center;
     border:0;
     background-color: white;
 }

 
 .new input{
    background-color: #ccffff;
 }
 
 td.cell{
     padding:0;
     border-right: 0.3px solid #ccc;
 }
 
 td.cell a{
     padding:15px;
     text-decoration:none;
     color:black;
 }
 
 td.cell a:hover{
     background-color: grey;
     color:white;
     outline: 1px solid black;
 }

.celdaModificar{
    background-color: #99baf0 !important;
    font-weight:900;
}

.celdaCrear{
    background-color: #fff7e6 !important;
}

.pagina{
    background-color:#5da8ae;
    padding:5px 10px;
    color:black;
    margin:10px 2px;
    border:1px solid black;
    border-radius:4px;
    display:inline-block;
    font-family: monospace;
    cursor: pointer;
}

#filtrado{
    margin: 10px;
}

.titulo{
    padding:10px 40px;
    background-color: rgba(47, 136, 144, 0.74);
    width: 40%;
    text-align:center;
    margin:0 auto;
}

.botonEnviar{
    padding:10px;
    font-size:1.2em;
    width: 40%;
}

.botonEnviar:hover{
    background-color: #c3c3c3;
}

.user{
    font-size:3em;
    text-align: center;
    display:block;
}

.centrado{
    
    text-align: center;
}

td.centrado{
    padding-top:16px;
     padding-bottom: 16px;
     border:0;
     background-color: white;
}

td.centrado2{
    padding-top:16px;
     padding-bottom: 16px;
     border:0;
     width: 4%;
     background-color: white;
      text-align: center;
}


.button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
    padding:15px;
    background-color: cornflowerblue;
    color:black;
}

#crearPedido.button{
    color:black;
}

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#idioma{
    margin-right:20px;
}

.datosPedido{
   background-color: white !important; 
}

.cantidad{
     width: 30%;
     padding:3px 0;
     text-align:center;
     border:0;
     background-color: lightsteelblue !important;
}

#derecha{
    text-align:right;
    margin-top:20px;
    position:relative;
}